@{
    ViewBag.Title = "Home Page";
}
<link href="@Url.Content("~/dist/css/vue.css")" rel="stylesheet">

<div id="app"></div>

@section scripts
{
    <script src="@Url.Content("~/dist/js/vue.js")"></script>
}