table,
thead,
tbody {
  display: flex;
  flex-direction: column;
}

tr {
  display: flex;
}

th {
  vertical-align: middle;
}

p {
  margin-bottom: 0px;
}

.sortable {
  cursor: pointer;
  padding-right: 20px;

  p::after,
  p::before {
    border: 3px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 6px;
    top: 47%;
    position: absolute;
    width: 0;
  }

  p::before {
    border-bottom-color: #585e73;
    margin-top: -7px;
  }

  p::after {
    border-top-color: #585e73;
    margin-top: 3px;
  }
}

.sort-asc {
  color: #b90cc6;

  p:before {
    border-bottom-color: #b90cc6;
    opacity: 0.5;
  }

  p:after {
    border-top-color: #b90cc6;
  }
}

.sort-desc {
  color: #b90cc6;

  p:before {
    border-bottom-color: #b90cc6;
  }
  p:after {
    border-top-color: #b90cc6;
    opacity: 0.5;
  }
}
